<h1>Orders</h1>

<h2>Add Order</h2>
<form class='storeForm' action="/orders" method="POST">
    <label>Order Date:</label>
    <input type="datetime-local" name="order_date" required>
    <label>Total Amount:</label>
    <input type="number" step="0.01" name="total_amount" required>
    <label>Customer:</label>
    <select name="customers_id_customer" required>
        {{#each customers}}
            <option value="{{id_customer}}">{{cust_name}}</option>
        {{/each}}
    </select>
    <button type="submit">Add Order</button>
</form>

<hr>

<h2>Existing Orders</h2>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Total</th>
            <th>Customer</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
        <tr>
            <td>{{id_order}}</td>
            <td>{{order_date}}</td>
            <td>${{total_amount}}</td>
            <td>{{customer}}</td>
            <td>
                <form action="/orders/delete/{{id_order}}" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
